HOST: http://api.1x.sk/

--- 1X public API ---
---
## Zabezpečení

Pro úspěšné volání funkce API je potřeba zaslat přidělené uživatelské jméno a heslo prostřednictvím HTTP Basic Auth.

## Požadavky

Požadavky se zasílají metodou POST na příslušné URL, informační zdroje jsou dotazovány metodou GET.

## Vyřizování požadavků

Systém každý přijatý požadavek ihned uloží a v odpovědi odešle přidělený unikátní identifikátor. Klient nečeká na odpověď o vyřízení a může odesílat další požadavky. Kdykoliv se pak může pomocí API volání dotázat na aktuální stav vyřizování požadavku. Převážně z tohoto důvodu jsou implementované odpovědi ve formátu JSON, kdy v klientské aplikaci je možné na pozadí např. pomocí JavaScriptu průběžně dotazovat server na stav vyřizování požadavků a tento v reálném čase v aplikaci zobrazovat. Tento způsob komunikace odstraňuje i problémy při nedostupnosti registrů nebo prodlevou v jejich odpovědích. Klienta zasílající požadavek neblokujeme a jeho požadavek zpracujeme, jakmile to bude možné.

## Kontakty

Kontakt funguje jako sdružující entita kontaktu v různých registrech.
Při změně kontaktu dojde k propsání změny do všech registrů, kde byl kontakt použit.
Kontakt automaticky vytváří objekty v příslušných registrech při jeho použití u domény.
Kontaktu lze nastavit vlastní identifikátor (je možné ho i změnit), dostává také UUID.
Kontakt slouží i jako vlastní uživatelský účet do našeho systému.
---
--
Domains
Tato část popisuje práci s doménami
--

Detail domény

Parametry:

* **fqdnu** - název domény s tečkou (.) nahrazenou podtržítkem (_)

GET /domains/{fqdnu}
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "1x.sk",
      "status": "active",
      "expires_on": "2011-08-28",
      "account": "META:2",
      "_links": {
        "self": {
          "href": "/domains/1x_sk"
        }
      }
    }
  ]
}

Služba pro ověření dostupnosti domény.

Parametry:

* **name** - jméno domény

POST /domains/check
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/6c00a764-58e3-4725-8c6a-3f30bba2832c
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "bdca3ce8-2af7-4442-8320-93db1596cd1b",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/bdca3ce8-2af7-4442-8320-93db1596cd1b"
          }
        },
        "request_type": "check",
        "responses": [],
        "content": null
      }
    }
  ]
}

Služba pro registraci nového doménového jména.

Parametry:

* **name** - jméno domény
* **registrant** - identifikátor kontaktu držitele
* **period** - počet let
* **dns_zone_template_id** - identifikátor šablony DNS záznamů (deleguje na náš NSSET)
* **nsset** - identifikátor sady jmenných serverů (pouze pro cz domény)
* **nameservers** - jména jmenných serverů (pro ostatní domény)
* **admins** - administrativní kontakty domény
* **keyset** - identifikátor sady klíčů
* **authorization_key** - autorizační klíč domény

POST /domains/register
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "period": "1",
      "registrant": "DRZITEL",
      "nsset": "KRAXNET",
      "dns_zone_template_id": "1",
      "keyset": "KEYSET",
      "authorization_key": "1234abcd",
      "admins": [
        "ADMIN1",
        "ADMIN2"
      ]
    },
    {
      "name": "domain.com",
      "period": "1",
      "registrant": "HOLDER",
      "nameservers": [
        "ns.kraxnet.cz",
        "ns.kraxnet.com"
      ],
      "dns_zone_template_id": "1"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/c71e1685-a41f-4f9a-b725-c12ad8fb5076
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "61d63afd-0bb5-42a0-9f5a-a29f130f0e5e",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/61d63afd-0bb5-42a0-9f5a-a29f130f0e5e"
          }
        },
        "request_type": "register",
        "responses": [],
        "content": {
          "period": "1",
          "registrant": "DRZITEL",
          "nsset": "KRAXNET",
          "dns_zone_template_id": "1",
          "keyset": "KEYSET",
          "authorization_key": "1234abcd",
          "admins": [
            "ADMIN1",
            "ADMIN2"
          ]
        }
      }
    },
    {
      "name": "domain.com",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domain_com"
        }
      },
      "request": {
        "id": "62cb22af-c714-473a-a0b0-7f01797dab25",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/62cb22af-c714-473a-a0b0-7f01797dab25"
          }
        },
        "request_type": "register",
        "responses": [],
        "content": {
          "period": "1",
          "registrant": "HOLDER",
          "nameservers": [
            "ns.kraxnet.cz",
            "ns.kraxnet.com"
          ],
          "dns_zone_template_id": "1"
        }
      }
    }
  ]
}

Služba pro změnu registrátora domény na 1X.

Parametry:

* **name** - jméno domény
* **authorization_key** - autorizační klíč pro převod domény

POST /domains/transfer
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "authorization_key": "1234abcd"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/4b81b8d1-49e9-425a-a488-bbbcb732217b
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "23561a87-e6ba-4acc-a21b-27da71a22b61",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/23561a87-e6ba-4acc-a21b-27da71a22b61"
          }
        },
        "request_type": "transfer",
        "responses": [],
        "content": {
          "authorization_key": "1234abcd"
        }
      }
    }
  ]
}

Služba pro prodloužení registrace doménového jména.

Parametry:

* **name** - jméno domény
* **current_expiration_date** - datum expirace domény
* **period** - počet let

POST /domains/renew
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "period": "1",
      "current_expiration_date": "2014-06-06"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/7fb385a5-11d0-4bd7-89b0-b669132da75c
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "7cedf666-c6ec-42f8-9469-fd3560aef5e4",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/7cedf666-c6ec-42f8-9469-fd3560aef5e4"
          }
        },
        "request_type": "renew",
        "responses": [],
        "content": {
          "period": "1",
          "current_expiration_date": "2014-06-06"
        }
      }
    }
  ]
}

Služba pro redelegaci domény na jiné jmenné servery.

Parametry:

* **name** - jméno domény
* **dns_zone_template_id** - identifikátor šablony DNS záznamů (deleguje na náš NSSET)
* **nsset** - identifikátor sady jmenných serverů (pouze pro cz domény)
* **nameservers** - jména jmenných serverů (pro ostatní domény)

POST /domains/change_dns
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "nsset": "KRAXNET",
      "dns_zone_template_id": "1"
    },
    {
      "name": "domain.com",
      "nameservers": [
        "ns.kraxnet.cz",
        "ns.kraxnet.com"
      ],
      "dns_zone_template_id": "1"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/58700bdb-f7fa-413c-8622-1c9d2a3cc091
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "6c8cd3d4-3018-4922-a8de-9251d361e4ab",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/6c8cd3d4-3018-4922-a8de-9251d361e4ab"
          }
        },
        "request_type": "change_dns",
        "responses": [],
        "content": {
          "nsset": "KRAXNET",
          "dns_zone_template_id": "1"
        }
      }
    },
    {
      "name": "domain.com",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domain_com"
        }
      },
      "request": {
        "id": "9466e764-3f3e-4b9b-a585-47141d7c55d8",
        "status": "failed",
        "last_response": {
          "id": 980190963,
          "code": null,
          "message": "Not authorized"
        },
        "_links": {
          "self": {
            "href": "/requests/9466e764-3f3e-4b9b-a585-47141d7c55d8"
          }
        },
        "request_type": "change_dns",
        "responses": [
          {
            "id": 980190963,
            "code": null,
            "message": "Not authorized"
          }
        ],
        "content": {
          "nameservers": [
            "ns.kraxnet.cz",
            "ns.kraxnet.com"
          ],
          "dns_zone_template_id": "1"
        }
      }
    }
  ]
}

Služba pro změnu držitele doménového jména.

Parametry:

* **name** - jméno domény
* **registrant** - identifikátor kontaktu nového držitele

POST /domains/registrant_change
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "registrant": "NOVY_DRZITEL"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/d224c323-d62f-481d-9d87-be791b88acec
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "28c65f6a-f614-47ce-b6af-5a6f2c2aeaf8",
        "status": "waiting_for_authorization",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/28c65f6a-f614-47ce-b6af-5a6f2c2aeaf8"
          }
        },
        "request_type": "registrant_change",
        "responses": [],
        "content": {
          "registrant": "NOVY_DRZITEL"
        }
      }
    }
  ]
}

Služba pro obecnou změnu údajů domény. Neslouží ke změně držitele domény a změně DNS.

Parametry:

* **name** - jméno domény
* **admins** - administrativní kontakty domény
* **keyset** - identifikátor sady klíčů
* **authorization_key** - autorizační klíč domény

POST /domains/update
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "keyset": "KEYSET",
      "authorization_key": "1234abcd",
      "admins": [
        "ADMIN1",
        "ADMIN2"
      ]
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/73f47c84-334d-4a73-8bb9-455bd9e56d0a
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "94b93a81-5969-4de6-9c74-c3717ffe99eb",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/94b93a81-5969-4de6-9c74-c3717ffe99eb"
          }
        },
        "request_type": "update",
        "responses": [],
        "content": {
          "keyset": "KEYSET",
          "authorization_key": "1234abcd",
          "admins": [
            "ADMIN1",
            "ADMIN2"
          ]
        }
      }
    }
  ]
}

Služba pro odpojení domény z účtu subregistrátora (zánik vztahu se zákazníkem).

Parametry:

* **name** - jméno domény

POST /domains/release
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/44f60753-2e45-4055-9f8e-bf9efc3e8490
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "5d3182f0-f36c-483b-a889-c61aa480624d",
        "status": "successful",
        "last_response": {
          "id": 980190964,
          "code": null,
          "message": "Domain was removed from account"
        },
        "_links": {
          "self": {
            "href": "/requests/5d3182f0-f36c-483b-a889-c61aa480624d"
          }
        },
        "request_type": "release",
        "responses": [
          {
            "id": 980190964,
            "code": null,
            "message": "Domain was removed from account"
          }
        ],
        "content": null
      }
    }
  ]
}

Služba pro získání seznamu všech domén.

GET /domains
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "1x.sk",
      "status": "active",
      "expires_on": "2011-08-28",
      "account": "META:11",
      "_links": {
        "self": {
          "href": "/domains/1x_sk"
        }
      }
    },
    {
      "name": "kraxnet.cz",
      "status": "active",
      "expires_on": "2011-08-25",
      "account": "META:11",
      "_links": {
        "self": {
          "href": "/domains/kraxnet_cz"
        }
      }
    }
  ]
}

Služba pro získání seznamu expirujících domén.

GET /domains/expiring
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "kraxnet.cz",
      "status": "active",
      "expires_on": "2011-08-25",
      "account": "META:12",
      "_links": {
        "self": {
          "href": "/domains/kraxnet_cz"
        }
      }
    },
    {
      "name": "1x.sk",
      "status": "active",
      "expires_on": "2011-08-28",
      "account": "META:12",
      "_links": {
        "self": {
          "href": "/domains/1x_sk"
        }
      }
    }
  ]
}

--
Contacts
Tato část popisuje práci s kontakty
--

Detail kontaktu

Parametry:

* **id** - handle nebo UUID kontaktu

GET /contacts/{id}
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": null,
      "name_prefix": null,
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": null,
      "identification_number": null,
      "vat_id": null,
      "email": "user@test.cz",
      "phone": "800123456",
      "fax": null,
      "street": [
        "Ulice 123"
      ],
      "city": "Město 5",
      "zip": "12345",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": null,
      "cz_nic_notify_email": null,
      "cz_nic_hide": [],
      "tld_handles": {
        "cz": "TEST"
      },
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      }
    }
  ]
}

Služba pro vytvoření nového kontaktu.

Parametry:

* **handle** - identifikátor kontaktu
* **organization_name** - firma
* **name_prefix** - titul před jménem
* **first_name** - jméno
* **last_name** - příjmení
* **name_suffix** - titul za jménem
* **identification_number** - IČ
* **vat_id** - DIČ
* **email** - e-mail
* **phone** - telefon
* **fax** - fax
* **street** - ulice, číslo popisné
* **city** - město
* **zip** - poštovní směrovací číslo
* **country_code** - kód státu
* **state** - region
* **new_cz_nic_handle** - identifikátor nového kontaktu CZ.NIC
* **cz_nic_notify_email** - e-mail pro oznámení CZ.NIC
* **cz_nic_hide** - skryté údaje v registru CZ.NIC
* **id** - universally unique identifier (UUID)

POST /contacts/register
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": "U testu 5",
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": "",
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ]
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/e691ee1f-a2ec-49d2-a3a5-2f0aa1576fdd
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": [
        "U testu 5"
      ],
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": "00385bf1-60bd-4f2d-bf24-289d4bda02b3",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/00385bf1-60bd-4f2d-bf24-289d4bda02b3"
          }
        },
        "request_type": "register",
        "responses": [],
        "content": {
          "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
          "organization_name": "Test a.s.",
          "name_prefix": "Ing.",
          "first_name": "Jan",
          "last_name": "Novák",
          "name_suffix": "CSc.",
          "identification_number": "12345678",
          "vat_id": "CZ12345678",
          "email": "novak@nic.cz",
          "phone": "+420.800123456",
          "fax": "+420.800778899",
          "street": "U testu 5",
          "city": "Testov 6",
          "zip": "12310",
          "country_code": "CZ",
          "new_cz_nic_handle": "jnovak",
          "cz_nic_notify_email": "jan.novak@nic.cz",
          "cz_nic_hide": [
            "ident",
            "vat",
            "email",
            "phone",
            "fax",
            "notify_email"
          ]
        }
      }
    }
  ]
}

Služba pro změnu kontaktu.

Parametry:

* **handle** - identifikátor kontaktu
* **organization_name** - firma
* **name_prefix** - titul před jménem
* **first_name** - jméno
* **last_name** - příjmení
* **name_suffix** - titul za jménem
* **identification_number** - IČ
* **vat_id** - DIČ
* **email** - e-mail
* **phone** - telefon
* **fax** - fax
* **street** - ulice, číslo popisné
* **city** - město
* **zip** - poštovní směrovací číslo
* **country_code** - kód státu
* **state** - region
* **new_cz_nic_handle** - identifikátor nového kontaktu CZ.NIC
* **cz_nic_notify_email** - e-mail pro oznámení CZ.NIC
* **cz_nic_hide** - skryté údaje v registru CZ.NIC
* **id** - universally unique identifier (UUID)

POST /contacts/update
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": "U testu 5",
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": "",
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ]
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/a1298bd9-c489-4b67-9592-05355fdc85ce
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": [
        "U testu 5"
      ],
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": "dc8f7429-1cfa-4b4f-96ae-f968b3b8d2b1",
        "status": "successful",
        "last_response": {
          "id": 980190965,
          "code": null,
          "message": "Contact was updated"
        },
        "_links": {
          "self": {
            "href": "/requests/dc8f7429-1cfa-4b4f-96ae-f968b3b8d2b1"
          }
        },
        "request_type": "update",
        "responses": [
          {
            "id": 980190965,
            "code": null,
            "message": "Contact was updated"
          }
        ],
        "content": {
          "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
          "organization_name": "Test a.s.",
          "name_prefix": "Ing.",
          "first_name": "Jan",
          "last_name": "Novák",
          "name_suffix": "CSc.",
          "identification_number": "12345678",
          "vat_id": "CZ12345678",
          "email": "novak@nic.cz",
          "phone": "+420.800123456",
          "fax": "+420.800778899",
          "street": "U testu 5",
          "city": "Testov 6",
          "zip": "12310",
          "country_code": "CZ",
          "new_cz_nic_handle": "jnovak",
          "cz_nic_notify_email": "jan.novak@nic.cz",
          "cz_nic_hide": [
            "ident",
            "vat",
            "email",
            "phone",
            "fax",
            "notify_email"
          ]
        }
      }
    }
  ]
}

Služba pro odebrání kontaktu z účtu.

Parametry:

* **handle** - identifikátor kontaktu
* **id** - universally unique identifier (UUID)

POST /contacts/release
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "contacts": [
    {
      "handle": "META:TEST"
    },
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/1b745e41-68ed-4a91-872f-815fb9fd73ec
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": null,
      "name_prefix": null,
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": null,
      "identification_number": null,
      "vat_id": null,
      "email": "user@test.cz",
      "phone": "800123456",
      "fax": null,
      "street": [
        "Ulice 123"
      ],
      "city": "Město 5",
      "zip": "12345",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": null,
      "cz_nic_notify_email": null,
      "cz_nic_hide": [],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": "082d10bf-cf6b-40ae-b8ec-6518ccc15594",
        "status": "failed",
        "last_response": {
          "id": 980190966,
          "code": null,
          "message": "Contact can not be removed from account"
        },
        "_links": {
          "self": {
            "href": "/requests/082d10bf-cf6b-40ae-b8ec-6518ccc15594"
          }
        },
        "request_type": "release",
        "responses": [
          {
            "id": 980190966,
            "code": null,
            "message": "Contact can not be removed from account"
          }
        ],
        "content": null
      }
    },
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": null,
      "name_prefix": null,
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": null,
      "identification_number": null,
      "vat_id": null,
      "email": "user@test.cz",
      "phone": "800123456",
      "fax": null,
      "street": [
        "Ulice 123"
      ],
      "city": "Město 5",
      "zip": "12345",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": null,
      "cz_nic_notify_email": null,
      "cz_nic_hide": [],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": "082d10bf-cf6b-40ae-b8ec-6518ccc15594",
        "status": "failed",
        "last_response": {
          "id": 980190966,
          "code": null,
          "message": "Contact can not be removed from account"
        },
        "_links": {
          "self": {
            "href": "/requests/082d10bf-cf6b-40ae-b8ec-6518ccc15594"
          }
        },
        "request_type": "release",
        "responses": [
          {
            "id": 980190966,
            "code": null,
            "message": "Contact can not be removed from account"
          }
        ],
        "content": null
      }
    }
  ]
}

--
Nssets
Tato část popisuje práci s nssety
--

Služba pro ověření dostupnosti nssetu.

Parametry:

* **id** - identifikátor nssetu

POST /nssets/check
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/95283392-9f35-4f1c-8e76-0d93339d4b46
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "pending",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": "f68ded3c-2560-4f23-8a58-9a1c9046c5ae",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/f68ded3c-2560-4f23-8a58-9a1c9046c5ae"
          }
        },
        "request_type": "check",
        "responses": [],
        "content": null
      }
    }
  ]
}

Služba pro vytvoření nového nssetu.

Parametry:

* **id** - identifikátor nssetu
* **nameservers** - výčet nameserverů
* **techs** - identifikátory kontaktů oprávněných ke správě nssetu
* **authorization_key** - autorizační klíč NSSETu
* **report_level** - úroveň kontroly

POST /nssets/register
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET",
      "techs": [
        "TECH1",
        "TECH2"
      ],
      "nameservers": [
        {
          "hostname": "ns.kraxnet.cz",
          "addresses": [
            "1.2.3.4"
          ]
        },
        {
          "hostname": "ns.kraxnet.com",
          "addresses": [
            "5.6.7.8",
            "9.10.11.12"
          ]
        }
      ],
      "authorization_key": "1234abcd",
      "report_level": "7"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/477f1a19-4b59-4244-a824-555493e5f5cc
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "pending",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": "e52d5a84-b59f-4081-a508-61fd883641af",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/e52d5a84-b59f-4081-a508-61fd883641af"
          }
        },
        "request_type": "register",
        "responses": [],
        "content": {
          "techs": [
            "TECH1",
            "TECH2"
          ],
          "nameservers": [
            {
              "hostname": "ns.kraxnet.cz",
              "addresses": [
                "1.2.3.4"
              ]
            },
            {
              "hostname": "ns.kraxnet.com",
              "addresses": [
                "5.6.7.8",
                "9.10.11.12"
              ]
            }
          ],
          "authorization_key": "1234abcd",
          "report_level": "7"
        }
      }
    }
  ]
}

Služba pro aktualizaci nssetu.

Parametry:

* **id** - identifikátor nssetu
* **nameservers** - výčet nameserverů
* **techs** - identifikátory kontaktů oprávněných ke správě nssetu
* **authorization_key** - autorizační klíč NSSETu
* **report_level** - úroveň kontroly

POST /nssets/update
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET",
      "techs": [
        "TECH1",
        "TECH2"
      ],
      "nameservers": [
        {
          "hostname": "ns.kraxnet.cz",
          "addresses": [
            "1.2.3.4"
          ]
        },
        {
          "hostname": "ns.kraxnet.com",
          "addresses": [
            "5.6.7.8",
            "9.10.11.12"
          ]
        }
      ],
      "authorization_key": "1234abcd",
      "report_level": "7"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/534398c5-8d85-4573-8ec8-cad2742d76e4
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "active",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": "608cff5a-c449-46c3-88d4-edcf7dfee1b9",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/608cff5a-c449-46c3-88d4-edcf7dfee1b9"
          }
        },
        "request_type": "update",
        "responses": [],
        "content": {
          "techs": [
            "TECH1",
            "TECH2"
          ],
          "nameservers": [
            {
              "hostname": "ns.kraxnet.cz",
              "addresses": [
                "1.2.3.4"
              ]
            },
            {
              "hostname": "ns.kraxnet.com",
              "addresses": [
                "5.6.7.8",
                "9.10.11.12"
              ]
            }
          ],
          "authorization_key": "1234abcd",
          "report_level": "7"
        }
      }
    }
  ]
}

Služba pro zrušení nssetu. Pouze pokud není navázán na doménu.

Parametry:

* **id** - identifikátor nssetu

POST /nssets/delete
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/72d5ead0-9485-4f87-af79-c8ca860acc04
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "active",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": "5be6c7f7-01b8-40fd-ab68-f3ebf16b1f89",
        "status": "waiting_for_authorization",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/5be6c7f7-01b8-40fd-ab68-f3ebf16b1f89"
          }
        },
        "request_type": "delete",
        "responses": [],
        "content": null
      }
    }
  ]
}

--
Requests
Tato část popisuje práci s odpověďmi na požadavky
--

Služba pro zjištění aktuálního stavu požadavku.

Parametry:

* **id** - identifikátor požadavku

Hodnoty odpovědi:

* **processing** - požadavek je ve zpracování
* **failed** - požadavek nebyl zpracován kvůli chybě
* **registered** - (pouze pro požadavek na registraci domény, kontaktu, nssetu) - objekt úspěšně zaregistrován
* **transferred** - (pouze pro požadavek na transfer domény, kontaktu, nssetu) - objekt úspěšně převeden
* **available** - (pouze pro požadavek na ověření dostupnosti domény, kontaktu, nssetu) - objekt je volný pro novou registraci
* **unavailable** - (pouze pro požadavek na ověření dostupnosti domény, kontaktu, nssetu) - objekt není volný
* **successful** - požadavek byl úspěšně zpracován

GET /requests/{id}/status
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "request": {
    "id": "579f2022-38d8-4c7b-a065-2ac755bf21c1",
    "status": "successful",
    "last_response": {
      "id": 980190969,
      "code": null,
      "message": "Domain is available"
    },
    "_links": {
      "self": {
        "href": "/requests/579f2022-38d8-4c7b-a065-2ac755bf21c1"
      }
    }
  }
}

Služba pro získání obsahu odeslaného požadavku.

Parametry:

* **id** - identifikátor požadavku

GET /requests/{id}
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "request": {
    "id": "a49c2a2e-b721-4621-bc0c-0fa4ee7c9943",
    "status": "successful",
    "last_response": {
      "id": 980190970,
      "code": null,
      "message": "Domain is available"
    },
    "_links": {
      "self": {
        "href": "/requests/a49c2a2e-b721-4621-bc0c-0fa4ee7c9943"
      }
    },
    "object_type": "domain",
    "request_type": "check",
    "registry_object_name": "domena.cz",
    "responses": [
      {
        "id": 980190970,
        "code": null,
        "message": "Domain is available"
      }
    ],
    "content": null
  }
}

--
Account
Tato část popisuje práci se subregistrátorským účtem
--

Zjištění aktuálního stavu kreditu.

GET /account/balance
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "balance": {
    "currency": "CZK",
    "amount": 0.0
  }
}

--
Order
Tato část popisuje zadávání objednávek s více požadavky
--

Služba pro zadání objednávky s více požadavky naráz.

Základní parametry jednotlivých požadavků:

* **request_type** - typ požadavku
* **object_type** - typ objektu, kterého se požadavek týká
* **name** - název objektu, které se požadavek týká (pouze pro domény)
* **id** - identifikátor objektu, kterého se požadavek týká (pro ostatní objekty)

Další parametry jsou shodné jako u příslušného typu requestu - viz výše.

Povolené hodnoty **object_type**:

* domain
* contact
* nsset
* keyset

Povolené hodnoty **request_type**:

* check
* register
* update
* authinfo
* transfer

Pro domény navíc:

* renew
* change_dns
* registrant_change

Pro ostatní objekty navíc:

* delete

POST /orders
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "requests": [
    {
      "request_type": "check",
      "object_type": "domain",
      "name": "domena.cz"
    },
    {
      "request_type": "check",
      "object_type": "domain",
      "name": "domena2.cz"
    }
  ]
}
< 202
< Content-Type: application/json; charset=utf-8
{
  "order": {
    "id": "5c14cba1-ca5c-4796-b67d-67933bfc7949",
    "created_at": "2014-10-30T16:50:57+01:00",
    "requests": [
      {
        "id": "0cee50a8-06ef-4e22-9030-19e6c0ab4158",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/0cee50a8-06ef-4e22-9030-19e6c0ab4158"
          }
        },
        "object_type": "domain",
        "request_type": "check",
        "registry_object_name": "domena.cz",
        "responses": [],
        "content": null
      },
      {
        "id": "86860950-0386-4c0e-958d-00c18a3d5bf0",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/86860950-0386-4c0e-958d-00c18a3d5bf0"
          }
        },
        "object_type": "domain",
        "request_type": "check",
        "registry_object_name": "domena2.cz",
        "responses": [],
        "content": null
      }
    ],
    "_links": {
      "self": {
        "href": "/orders/5c14cba1-ca5c-4796-b67d-67933bfc7949"
      }
    }
  }
}
