HOST: http://api.1x.sk/

--- 1X public API ---
---
## Zabezpečení

Pro úspěšné volání funkce API je potřeba zaslat přidělené uživatelské jméno a heslo prostřednictvím HTTP Basic Auth.

## Požadavky

Požadavky se zasílají metodou POST na příslušné URL, informační zdroje jsou dotazovány metodou GET.

## Vyřizování požadavků

Systém každý přijatý požadavek ihned uloží a v odpovědi odešle přidělený unikátní identifikátor. Klient nečeká na odpověď o vyřízení a může odesílat další požadavky. Kdykoliv se pak může pomocí API volání dotázat na aktuální stav vyřizování požadavku. Převážně z tohoto důvodu jsou implementované odpovědi ve formátu JSON, kdy v klientské aplikaci je možné na pozadí např. pomocí JavaScriptu průběžně dotazovat server na stav vyřizování požadavků a tento v reálném čase v aplikaci zobrazovat. Tento způsob komunikace odstraňuje i problémy při nedostupnosti registrů nebo prodlevou v jejich odpovědích. Klienta zasílající požadavek neblokujeme a jeho požadavek zpracujeme, jakmile to bude možné.

## Kontakty

Kontakt funguje jako sdružující entita kontaktu v různých registrech.
Při změně kontaktu dojde k propsání změny do všech registrů, kde byl kontakt použit.
Kontakt automaticky vytváří objekty v příslušných registrech při jeho použití u domény.
Kontaktu lze nastavit vlastní identifikátor (je možné ho i změnit), dostává také UUID.
Kontakt slouží i jako vlastní uživatelský účet do našeho systému.
---
--
Domains
Tato část popisuje práci s doménami
--

Detail domény

Parametry:

* **fqdnu** - název domény s tečkou (.) nahrazenou podtržítkem (_)

GET /domains/{fqdnu}
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "1x.sk",
      "status": "active",
      "expires_on": "2011-08-28",
      "account": "META:2",
      "_links": {
        "self": {
          "href": "/domains/1x_sk"
        }
      }
    }
  ]
}

Služba pro ověření dostupnosti domény.

Parametry:

* **name** - jméno domény

POST /domains/check
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190963
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": 980190963,
        "status": "processing",
        "last_response": null,
        "request_type": "check",
        "responses": [],
        "content": null
      }
    }
  ]
}

Služba pro registraci nového doménového jména.

Parametry:

* **name** - jméno domény
* **registrant** - identifikátor kontaktu držitele
* **period** - počet let
* **dns_zone_template_id** - identifikátor šablony DNS záznamů (deleguje na náš NSSET)
* **nsset** - identifikátor sady jmenných serverů (pouze pro cz domény)
* **nameservers** - jména jmenných serverů (pro ostatní domény)
* **admins** - administrativní kontakty domény
* **keyset** - identifikátor sady klíčů
* **authorization_key** - autorizační klíč domény

POST /domains/register
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "period": "1",
      "registrant": "DRZITEL",
      "nsset": "KRAXNET",
      "dns_zone_template_id": "1",
      "keyset": "KEYSET",
      "authorization_key": "1234abcd",
      "admins": [
        "ADMIN1",
        "ADMIN2"
      ]
    },
    {
      "name": "domain.com",
      "period": "1",
      "registrant": "HOLDER",
      "nameservers": [
        "ns.kraxnet.cz",
        "ns.kraxnet.com"
      ],
      "dns_zone_template_id": "1"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190964
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": 980190964,
        "status": "processing",
        "last_response": null,
        "request_type": "register",
        "responses": [],
        "content": {
          "period": "1",
          "registrant": "DRZITEL",
          "nsset": "KRAXNET",
          "dns_zone_template_id": "1",
          "keyset": "KEYSET",
          "authorization_key": "1234abcd",
          "admins": [
            "ADMIN1",
            "ADMIN2"
          ]
        }
      }
    },
    {
      "name": "domain.com",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domain_com"
        }
      },
      "request": {
        "id": 980190965,
        "status": "processing",
        "last_response": null,
        "request_type": "register",
        "responses": [],
        "content": {
          "period": "1",
          "registrant": "HOLDER",
          "nameservers": [
            "ns.kraxnet.cz",
            "ns.kraxnet.com"
          ],
          "dns_zone_template_id": "1"
        }
      }
    }
  ]
}

Služba pro změnu registrátora domény na 1X.

Parametry:

* **name** - jméno domény
* **authorization_key** - autorizační klíč pro převod domény

POST /domains/transfer
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "authorization_key": "1234abcd"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190965
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": 980190966,
        "status": "processing",
        "last_response": null,
        "request_type": "transfer",
        "responses": [],
        "content": {
          "authorization_key": "1234abcd"
        }
      }
    }
  ]
}

Služba pro prodloužení registrace doménového jména.

Parametry:

* **name** - jméno domény
* **current_expiration_date** - datum expirace domény
* **period** - počet let

POST /domains/renew
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "period": "1",
      "current_expiration_date": "2014-06-06"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190966
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": 980190967,
        "status": "processing",
        "last_response": null,
        "request_type": "renew",
        "responses": [],
        "content": {
          "period": "1",
          "current_expiration_date": "2014-06-06"
        }
      }
    }
  ]
}

Služba pro redelegaci domény na jiné jmenné servery.

Parametry:

* **name** - jméno domény
* **dns_zone_template_id** - identifikátor šablony DNS záznamů (deleguje na náš NSSET)
* **nsset** - identifikátor sady jmenných serverů (pouze pro cz domény)
* **nameservers** - jména jmenných serverů (pro ostatní domény)

POST /domains/change_dns
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "nsset": "KRAXNET",
      "dns_zone_template_id": "1"
    },
    {
      "name": "domain.com",
      "nameservers": [
        "ns.kraxnet.cz",
        "ns.kraxnet.com"
      ],
      "dns_zone_template_id": "1"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190967
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": 980190968,
        "status": "processing",
        "last_response": null,
        "request_type": "change_dns",
        "responses": [],
        "content": {
          "nsset": "KRAXNET",
          "dns_zone_template_id": "1"
        }
      }
    },
    {
      "name": "domain.com",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domain_com"
        }
      },
      "request": {
        "id": 980190969,
        "status": "failed",
        "last_response": {
          "id": 980190963,
          "code": null,
          "message": "Not authorized"
        },
        "request_type": "change_dns",
        "responses": [
          {
            "id": 980190963,
            "code": null,
            "message": "Not authorized"
          }
        ],
        "content": {
          "nameservers": [
            "ns.kraxnet.cz",
            "ns.kraxnet.com"
          ],
          "dns_zone_template_id": "1"
        }
      }
    }
  ]
}

Služba pro změnu držitele doménového jména.

Parametry:

* **name** - jméno domény
* **registrant** - identifikátor kontaktu nového držitele

POST /domains/registrant_change
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "registrant": "NOVY_DRZITEL"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190968
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": 980190970,
        "status": "waiting_for_authorization",
        "last_response": null,
        "request_type": "registrant_change",
        "responses": [],
        "content": {
          "registrant": "NOVY_DRZITEL"
        }
      }
    }
  ]
}

Služba pro obecnou změnu údajů domény. Neslouží ke změně držitele domény a změně DNS.

Parametry:

* **name** - jméno domény
* **admins** - administrativní kontakty domény
* **keyset** - identifikátor sady klíčů
* **authorization_key** - autorizační klíč domény

POST /domains/update
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "keyset": "KEYSET",
      "authorization_key": "1234abcd",
      "admins": [
        "ADMIN1",
        "ADMIN2"
      ]
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190969
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": 980190971,
        "status": "processing",
        "last_response": null,
        "request_type": "update",
        "responses": [],
        "content": {
          "keyset": "KEYSET",
          "authorization_key": "1234abcd",
          "admins": [
            "ADMIN1",
            "ADMIN2"
          ]
        }
      }
    }
  ]
}

Služba pro odpojení domény z účtu subregistrátora (zánik vztahu se zákazníkem).

Parametry:

* **name** - jméno domény

POST /domains/release
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190970
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": 980190972,
        "status": "successful",
        "last_response": {
          "id": 980190964,
          "code": null,
          "message": "Domain was removed from account"
        },
        "request_type": "release",
        "responses": [
          {
            "id": 980190964,
            "code": null,
            "message": "Domain was removed from account"
          }
        ],
        "content": null
      }
    }
  ]
}

Služba pro získání seznamu všech domén.

GET /domains
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "1x.sk",
      "status": "active",
      "expires_on": "2011-08-28",
      "account": "META:11",
      "_links": {
        "self": {
          "href": "/domains/1x_sk"
        }
      }
    },
    {
      "name": "kraxnet.cz",
      "status": "active",
      "expires_on": "2011-08-25",
      "account": "META:11",
      "_links": {
        "self": {
          "href": "/domains/kraxnet_cz"
        }
      }
    }
  ]
}

Služba pro získání seznamu expirujících domén.

GET /domains/expiring
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "kraxnet.cz",
      "status": "active",
      "expires_on": "2011-08-25",
      "account": "META:12",
      "_links": {
        "self": {
          "href": "/domains/kraxnet_cz"
        }
      }
    },
    {
      "name": "1x.sk",
      "status": "active",
      "expires_on": "2011-08-28",
      "account": "META:12",
      "_links": {
        "self": {
          "href": "/domains/1x_sk"
        }
      }
    }
  ]
}

--
Contacts
Tato část popisuje práci s kontakty
--

Detail kontaktu

Parametry:

* **id** - handle nebo UUID kontaktu

GET /contacts/{id}
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": null,
      "name_prefix": null,
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": null,
      "identification_number": null,
      "vat_id": null,
      "email": "user@test.cz",
      "phone": "800123456",
      "fax": null,
      "street": [
        "Ulice 123"
      ],
      "city": "Město 5",
      "zip": "12345",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": null,
      "cz_nic_notify_email": null,
      "cz_nic_hide": [],
      "tld_handles": {
        "cz": "TEST"
      },
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      }
    }
  ]
}

Služba pro vytvoření nového kontaktu.

Parametry:

* **handle** - identifikátor kontaktu
* **organization_name** - firma
* **name_prefix** - titul před jménem
* **first_name** - jméno
* **last_name** - příjmení
* **name_suffix** - titul za jménem
* **identification_number** - IČ
* **vat_id** - DIČ
* **email** - e-mail
* **phone** - telefon
* **fax** - fax
* **street** - ulice, číslo popisné
* **city** - město
* **zip** - poštovní směrovací číslo
* **country_code** - kód státu
* **state** - region
* **new_cz_nic_handle** - identifikátor nového kontaktu CZ.NIC
* **cz_nic_notify_email** - e-mail pro oznámení CZ.NIC
* **cz_nic_hide** - skryté údaje v registru CZ.NIC
* **id** - universally unique identifier (UUID)

POST /contacts/register
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": "U testu 5",
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": "",
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ]
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190971
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": [
        "U testu 5"
      ],
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": 980190973,
        "status": "processing",
        "last_response": null,
        "request_type": "register",
        "responses": [],
        "content": {
          "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
          "organization_name": "Test a.s.",
          "name_prefix": "Ing.",
          "first_name": "Jan",
          "last_name": "Novák",
          "name_suffix": "CSc.",
          "identification_number": "12345678",
          "vat_id": "CZ12345678",
          "email": "novak@nic.cz",
          "phone": "+420.800123456",
          "fax": "+420.800778899",
          "street": "U testu 5",
          "city": "Testov 6",
          "zip": "12310",
          "country_code": "CZ",
          "new_cz_nic_handle": "jnovak",
          "cz_nic_notify_email": "jan.novak@nic.cz",
          "cz_nic_hide": [
            "ident",
            "vat",
            "email",
            "phone",
            "fax",
            "notify_email"
          ]
        }
      }
    }
  ]
}

Služba pro změnu kontaktu.

Parametry:

* **handle** - identifikátor kontaktu
* **organization_name** - firma
* **name_prefix** - titul před jménem
* **first_name** - jméno
* **last_name** - příjmení
* **name_suffix** - titul za jménem
* **identification_number** - IČ
* **vat_id** - DIČ
* **email** - e-mail
* **phone** - telefon
* **fax** - fax
* **street** - ulice, číslo popisné
* **city** - město
* **zip** - poštovní směrovací číslo
* **country_code** - kód státu
* **state** - region
* **new_cz_nic_handle** - identifikátor nového kontaktu CZ.NIC
* **cz_nic_notify_email** - e-mail pro oznámení CZ.NIC
* **cz_nic_hide** - skryté údaje v registru CZ.NIC
* **id** - universally unique identifier (UUID)

POST /contacts/update
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": "U testu 5",
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": "",
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ]
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190972
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": [
        "U testu 5"
      ],
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": 980190975,
        "status": "successful",
        "last_response": {
          "id": 980190965,
          "code": null,
          "message": "Contact was updated"
        },
        "request_type": "update",
        "responses": [
          {
            "id": 980190965,
            "code": null,
            "message": "Contact was updated"
          }
        ],
        "content": {
          "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
          "organization_name": "Test a.s.",
          "name_prefix": "Ing.",
          "first_name": "Jan",
          "last_name": "Novák",
          "name_suffix": "CSc.",
          "identification_number": "12345678",
          "vat_id": "CZ12345678",
          "email": "novak@nic.cz",
          "phone": "+420.800123456",
          "fax": "+420.800778899",
          "street": "U testu 5",
          "city": "Testov 6",
          "zip": "12310",
          "country_code": "CZ",
          "new_cz_nic_handle": "jnovak",
          "cz_nic_notify_email": "jan.novak@nic.cz",
          "cz_nic_hide": [
            "ident",
            "vat",
            "email",
            "phone",
            "fax",
            "notify_email"
          ]
        }
      }
    }
  ]
}

Služba pro odebrání kontaktu z účtu.

Parametry:

* **handle** - identifikátor kontaktu
* **id** - universally unique identifier (UUID)

POST /contacts/release
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "contacts": [
    {
      "handle": "META:TEST"
    },
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190973
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": null,
      "name_prefix": null,
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": null,
      "identification_number": null,
      "vat_id": null,
      "email": "user@test.cz",
      "phone": "800123456",
      "fax": null,
      "street": [
        "Ulice 123"
      ],
      "city": "Město 5",
      "zip": "12345",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": null,
      "cz_nic_notify_email": null,
      "cz_nic_hide": [],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": 980190976,
        "status": "failed",
        "last_response": {
          "id": 980190966,
          "code": null,
          "message": "Contact can not be removed from account"
        },
        "request_type": "release",
        "responses": [
          {
            "id": 980190966,
            "code": null,
            "message": "Contact can not be removed from account"
          }
        ],
        "content": null
      }
    },
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": null,
      "name_prefix": null,
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": null,
      "identification_number": null,
      "vat_id": null,
      "email": "user@test.cz",
      "phone": "800123456",
      "fax": null,
      "street": [
        "Ulice 123"
      ],
      "city": "Město 5",
      "zip": "12345",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": null,
      "cz_nic_notify_email": null,
      "cz_nic_hide": [],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": 980190976,
        "status": "failed",
        "last_response": {
          "id": 980190966,
          "code": null,
          "message": "Contact can not be removed from account"
        },
        "request_type": "release",
        "responses": [
          {
            "id": 980190966,
            "code": null,
            "message": "Contact can not be removed from account"
          }
        ],
        "content": null
      }
    }
  ]
}

--
Nssets
Tato část popisuje práci s nssety
--

Služba pro ověření dostupnosti nssetu.

Parametry:

* **id** - identifikátor nssetu

POST /nssets/check
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190974
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "pending",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": 980190978,
        "status": "processing",
        "last_response": null,
        "request_type": "check",
        "responses": [],
        "content": null
      }
    }
  ]
}

Služba pro vytvoření nového nssetu.

Parametry:

* **id** - identifikátor nssetu
* **nameservers** - výčet nameserverů
* **techs** - identifikátory kontaktů oprávněných ke správě nssetu
* **authorization_key** - autorizační klíč NSSETu
* **report_level** - úroveň kontroly

POST /nssets/register
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET",
      "techs": [
        "TECH1",
        "TECH2"
      ],
      "nameservers": [
        {
          "hostname": "ns.kraxnet.cz",
          "addresses": [
            "1.2.3.4"
          ]
        },
        {
          "hostname": "ns.kraxnet.com",
          "addresses": [
            "5.6.7.8",
            "9.10.11.12"
          ]
        }
      ],
      "authorization_key": "1234abcd",
      "report_level": "7"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190975
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "pending",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": 980190979,
        "status": "processing",
        "last_response": null,
        "request_type": "register",
        "responses": [],
        "content": {
          "techs": [
            "TECH1",
            "TECH2"
          ],
          "nameservers": [
            {
              "hostname": "ns.kraxnet.cz",
              "addresses": [
                "1.2.3.4"
              ]
            },
            {
              "hostname": "ns.kraxnet.com",
              "addresses": [
                "5.6.7.8",
                "9.10.11.12"
              ]
            }
          ],
          "authorization_key": "1234abcd",
          "report_level": "7"
        }
      }
    }
  ]
}

Služba pro aktualizaci nssetu.

Parametry:

* **id** - identifikátor nssetu
* **nameservers** - výčet nameserverů
* **techs** - identifikátory kontaktů oprávněných ke správě nssetu
* **authorization_key** - autorizační klíč NSSETu
* **report_level** - úroveň kontroly

POST /nssets/update
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET",
      "techs": [
        "TECH1",
        "TECH2"
      ],
      "nameservers": [
        {
          "hostname": "ns.kraxnet.cz",
          "addresses": [
            "1.2.3.4"
          ]
        },
        {
          "hostname": "ns.kraxnet.com",
          "addresses": [
            "5.6.7.8",
            "9.10.11.12"
          ]
        }
      ],
      "authorization_key": "1234abcd",
      "report_level": "7"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190976
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "active",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": 980190980,
        "status": "processing",
        "last_response": null,
        "request_type": "update",
        "responses": [],
        "content": {
          "techs": [
            "TECH1",
            "TECH2"
          ],
          "nameservers": [
            {
              "hostname": "ns.kraxnet.cz",
              "addresses": [
                "1.2.3.4"
              ]
            },
            {
              "hostname": "ns.kraxnet.com",
              "addresses": [
                "5.6.7.8",
                "9.10.11.12"
              ]
            }
          ],
          "authorization_key": "1234abcd",
          "report_level": "7"
        }
      }
    }
  ]
}

Služba pro zrušení nssetu. Pouze pokud není navázán na doménu.

Parametry:

* **id** - identifikátor nssetu

POST /nssets/delete
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/980190977
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "active",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": 980190981,
        "status": "waiting_for_authorization",
        "last_response": null,
        "request_type": "delete",
        "responses": [],
        "content": null
      }
    }
  ]
}

--
Requests
Tato část popisuje práci s odpověďmi na požadavky
--

Služba pro zjištění aktuálního stavu požadavku.

Parametry:

* **id** - identifikátor požadavku

Hodnoty odpovědi:

* **processing** - požadavek je ve zpracování
* **failed** - požadavek nebyl zpracován kvůli chybě
* **registered** - (pouze pro požadavek na registraci domény, kontaktu, nssetu) - objekt úspěšně zaregistrován
* **transferred** - (pouze pro požadavek na transfer domény, kontaktu, nssetu) - objekt úspěšně převeden
* **available** - (pouze pro požadavek na ověření dostupnosti domény, kontaktu, nssetu) - objekt je volný pro novou registraci
* **unavailable** - (pouze pro požadavek na ověření dostupnosti domény, kontaktu, nssetu) - objekt není volný
* **successful** - požadavek byl úspěšně zpracován

GET /requests/{id}/status
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "request": {
    "id": 980190983,
    "status": "successful",
    "last_response": {
      "id": 980190969,
      "code": null,
      "message": "Domain is available"
    }
  }
}

Služba pro získání obsahu odeslaného požadavku.

Parametry:

* **id** - identifikátor požadavku

GET /requests/{id}
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "request": {
    "id": 980190984,
    "status": "successful",
    "last_response": {
      "id": 980190970,
      "code": null,
      "message": "Domain is available"
    },
    "object_type": "domain",
    "request_type": "check",
    "registry_object_name": "domena.cz",
    "responses": [
      {
        "id": 980190970,
        "code": null,
        "message": "Domain is available"
      }
    ],
    "content": null
  }
}

--
Account
Tato část popisuje práci se subregistrátorským účtem
--

Zjištění aktuálního stavu kreditu.

GET /account/balance
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "balance": {
    "currency": "CZK",
    "amount": 0.0
  }
}

--
Order
Tato část popisuje zadávání objednávek s více požadavky
--

Služba pro zadání objednávky s více požadavky naráz.

Základní parametry jednotlivých požadavků:

* **request_type** - typ požadavku
* **object_type** - typ objektu, kterého se požadavek týká
* **name** - název objektu, které se požadavek týká (pouze pro domény)
* **id** - identifikátor objektu, kterého se požadavek týká (pro ostatní objekty)

Další parametry jsou shodné jako u příslušného typu requestu - viz výše.

Povolené hodnoty **object_type**:

* domain
* contact
* nsset
* keyset

Povolené hodnoty **request_type**:

* check
* register
* update
* authinfo
* transfer

Pro domény navíc:

* renew
* change_dns
* registrant_change

Pro ostatní objekty navíc:

* delete

POST /orders
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "requests": [
    {
      "request_type": "check",
      "object_type": "domain",
      "name": "domena.cz"
    },
    {
      "request_type": "check",
      "object_type": "domain",
      "name": "domena2.cz"
    }
  ]
}
< 202
< Content-Type: application/json; charset=utf-8
{
  "order": {
    "id": 980190981,
    "created_at": "2014-10-30T14:38:59+01:00",
    "requests": [
      {
        "id": 980190985,
        "status": "processing",
        "last_response": null,
        "object_type": "domain",
        "request_type": "check",
        "registry_object_name": "domena.cz",
        "responses": [],
        "content": null
      },
      {
        "id": 980190986,
        "status": "processing",
        "last_response": null,
        "object_type": "domain",
        "request_type": "check",
        "registry_object_name": "domena2.cz",
        "responses": [],
        "content": null
      }
    ],
    "_links": {
      "self": {
        "href": "/orders/980190981"
      }
    }
  }
}
