HOST: http://api.1x.sk/

--- 1X public API ---
---
## Zabezpečení

Pro úspěšné volání funkce API je potřeba zaslat přidělené uživatelské jméno a heslo prostřednictvím HTTP Basic Auth.

## Požadavky

Požadavky se zasílají metodou POST na příslušné URL, informační zdroje jsou dotazovány metodou GET.

## Vyřizování požadavků

Systém každý přijatý požadavek ihned uloží a v odpovědi odešle přidělený unikátní identifikátor. Klient nečeká na odpověď o vyřízení a může odesílat další požadavky. Kdykoliv se pak může pomocí API volání dotázat na aktuální stav vyřizování požadavku. Převážně z tohoto důvodu jsou implementované odpovědi ve formátu JSON, kdy v klientské aplikaci je možné na pozadí např. pomocí JavaScriptu průběžně dotazovat server na stav vyřizování požadavků a tento v reálném čase v aplikaci zobrazovat. Tento způsob komunikace odstraňuje i problémy při nedostupnosti registrů nebo prodlevou v jejich odpovědích. Klienta zasílající požadavek neblokujeme a jeho požadavek zpracujeme, jakmile to bude možné.

## Kontakty

Kontakt funguje jako sdružující entita kontaktu v různých registrech.
Při změně kontaktu dojde k propsání změny do všech registrů, kde byl kontakt použit.
Kontakt automaticky vytváří objekty v příslušných registrech při jeho použití u domény.
Kontaktu lze nastavit vlastní identifikátor (je možné ho i změnit), dostává také UUID.
Kontakt slouží i jako vlastní uživatelský účet do našeho systému.
---
--
Domains
Tato část popisuje práci s doménami
--

Detail domény

Parametry:

* **fqdnu** - název domény s tečkou (.) nahrazenou podtržítkem (_)

GET /domains/{fqdnu}
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "1x.sk",
      "status": "active",
      "expires_on": "2011-08-28",
      "account": {
        "id": "520f48d5-a787-470a-98a1-e02b8e121780",
        "handle": "META:2"
      },
      "_links": {
        "self": {
          "href": "/domains/1x_sk"
        }
      }
    }
  ]
}

Služba pro ověření dostupnosti domény.

Parametry:

* **name** - jméno domény

POST /domains/check
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/51d44329-85d9-4cce-8df1-52d61fe8b76c
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "f08cc65f-d92f-47d2-a0c4-020495759cd8",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/f08cc65f-d92f-47d2-a0c4-020495759cd8"
          }
        },
        "request_type": "check",
        "responses": [],
        "content": null
      }
    }
  ]
}

Služba pro registraci nového doménového jména.

Parametry:

* **name** - jméno domény
* **registrant** - identifikátor kontaktu držitele
* **period** - počet let
* **dns_zone_template_id** - identifikátor šablony DNS záznamů (deleguje na náš NSSET)
* **nsset** - identifikátor sady jmenných serverů (pouze pro cz domény)
* **nameservers** - jména jmenných serverů (pro ostatní domény)
* **admins** - administrativní kontakty domény
* **keyset** - identifikátor sady klíčů
* **authorization_key** - autorizační klíč domény

POST /domains/register
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "period": "1",
      "registrant": "DRZITEL",
      "nsset": "KRAXNET",
      "dns_zone_template_id": "1",
      "keyset": "KEYSET",
      "authorization_key": "1234abcd",
      "admins": [
        "ADMIN1",
        "ADMIN2"
      ]
    },
    {
      "name": "domain.com",
      "period": "1",
      "registrant": "HOLDER",
      "nameservers": [
        "ns.kraxnet.cz",
        "ns.kraxnet.com"
      ],
      "dns_zone_template_id": "1"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/4bba4826-659c-47e9-ab5e-df361deeb696
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "b1828019-7f80-474e-974a-e02084791c28",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/b1828019-7f80-474e-974a-e02084791c28"
          }
        },
        "request_type": "register",
        "responses": [],
        "content": {
          "period": "1",
          "registrant": "DRZITEL",
          "nsset": "KRAXNET",
          "dns_zone_template_id": "1",
          "keyset": "KEYSET",
          "authorization_key": "1234abcd",
          "admins": [
            "ADMIN1",
            "ADMIN2"
          ]
        }
      }
    },
    {
      "name": "domain.com",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domain_com"
        }
      },
      "request": {
        "id": "0e7b1d04-773c-4dd4-818a-41ce0bda08d9",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/0e7b1d04-773c-4dd4-818a-41ce0bda08d9"
          }
        },
        "request_type": "register",
        "responses": [],
        "content": {
          "period": "1",
          "registrant": "HOLDER",
          "nameservers": [
            "ns.kraxnet.cz",
            "ns.kraxnet.com"
          ],
          "dns_zone_template_id": "1"
        }
      }
    }
  ]
}

Služba pro změnu registrátora domény na 1X.

Parametry:

* **name** - jméno domény
* **authorization_key** - autorizační klíč pro převod domény

POST /domains/transfer
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "authorization_key": "1234abcd"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/d433cbe6-7fa8-4e16-947c-3965cb26b9b0
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "e23c5ca7-fa22-4dd0-8b61-67fbcf0c5846",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/e23c5ca7-fa22-4dd0-8b61-67fbcf0c5846"
          }
        },
        "request_type": "transfer",
        "responses": [],
        "content": {
          "authorization_key": "1234abcd"
        }
      }
    }
  ]
}

Služba pro prodloužení registrace doménového jména.

Parametry:

* **name** - jméno domény
* **current_expiration_date** - datum expirace domény
* **period** - počet let

POST /domains/renew
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "period": "1",
      "current_expiration_date": "2014-06-06"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/82d91fc2-8617-48a9-bd0f-fd4b96249da8
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "8b0184ce-fdc9-4b25-a383-4fb85a075aa8",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/8b0184ce-fdc9-4b25-a383-4fb85a075aa8"
          }
        },
        "request_type": "renew",
        "responses": [],
        "content": {
          "period": "1",
          "current_expiration_date": "2014-06-06"
        }
      }
    }
  ]
}

Služba pro redelegaci domény na jiné jmenné servery.

Parametry:

* **name** - jméno domény
* **dns_zone_template_id** - identifikátor šablony DNS záznamů (deleguje na náš NSSET)
* **nsset** - identifikátor sady jmenných serverů (pouze pro cz domény)
* **nameservers** - jména jmenných serverů (pro ostatní domény)

POST /domains/change_dns
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "nsset": "KRAXNET",
      "dns_zone_template_id": "1"
    },
    {
      "name": "domain.com",
      "nameservers": [
        "ns.kraxnet.cz",
        "ns.kraxnet.com"
      ],
      "dns_zone_template_id": "1"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/4fcdcef1-fcc4-4952-bbdc-83f9103a15f7
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "6e91a68f-f8f5-4911-8afd-7e1001529d83",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/6e91a68f-f8f5-4911-8afd-7e1001529d83"
          }
        },
        "request_type": "change_dns",
        "responses": [],
        "content": {
          "nsset": "KRAXNET",
          "dns_zone_template_id": "1"
        }
      }
    },
    {
      "name": "domain.com",
      "status": "pending",
      "expires_on": null,
      "_links": {
        "self": {
          "href": "/domains/domain_com"
        }
      },
      "request": {
        "id": "20cd0727-cb7d-4fb5-b71f-5415a974fb9b",
        "status": "failed",
        "last_response": {
          "id": 980190963,
          "code": null,
          "message": "Not authorized"
        },
        "_links": {
          "self": {
            "href": "/requests/20cd0727-cb7d-4fb5-b71f-5415a974fb9b"
          }
        },
        "request_type": "change_dns",
        "responses": [
          {
            "id": 980190963,
            "code": null,
            "message": "Not authorized"
          }
        ],
        "content": {
          "nameservers": [
            "ns.kraxnet.cz",
            "ns.kraxnet.com"
          ],
          "dns_zone_template_id": "1"
        }
      }
    }
  ]
}

Služba pro změnu držitele doménového jména.

Parametry:

* **name** - jméno domény
* **registrant** - identifikátor kontaktu nového držitele

POST /domains/registrant_change
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "registrant": "NOVY_DRZITEL"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/8cac26bb-9d64-4141-a91a-7d0447b24cdc
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "f1b79532-4e70-4c81-b9c7-31970f498711",
        "status": "waiting_for_authorization",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/f1b79532-4e70-4c81-b9c7-31970f498711"
          }
        },
        "request_type": "registrant_change",
        "responses": [],
        "content": {
          "registrant": "NOVY_DRZITEL"
        }
      }
    }
  ]
}

Služba pro obecnou změnu údajů domény. Neslouží ke změně držitele domény a změně DNS.

Parametry:

* **name** - jméno domény
* **admins** - administrativní kontakty domény
* **keyset** - identifikátor sady klíčů
* **authorization_key** - autorizační klíč domény

POST /domains/update
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz",
      "keyset": "KEYSET",
      "authorization_key": "1234abcd",
      "admins": [
        "ADMIN1",
        "ADMIN2"
      ]
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/db775909-2b1a-4553-b17e-901886a7e73d
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "bea04bf9-7d75-4213-bdb0-9518c05bba8b",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/bea04bf9-7d75-4213-bdb0-9518c05bba8b"
          }
        },
        "request_type": "update",
        "responses": [],
        "content": {
          "keyset": "KEYSET",
          "authorization_key": "1234abcd",
          "admins": [
            "ADMIN1",
            "ADMIN2"
          ]
        }
      }
    }
  ]
}

Služba pro odpojení domény z účtu subregistrátora (zánik vztahu se zákazníkem).

Parametry:

* **name** - jméno domény

POST /domains/release
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "domains": [
    {
      "name": "domena.cz"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/e44e4f05-d8bc-4458-8100-87cb13703150
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "domena.cz",
      "status": "active",
      "expires_on": "2014-06-06",
      "_links": {
        "self": {
          "href": "/domains/domena_cz"
        }
      },
      "request": {
        "id": "38d19451-1671-4fe8-8866-c59a08f94abe",
        "status": "successful",
        "last_response": {
          "id": 980190964,
          "code": null,
          "message": "Domain was removed from account"
        },
        "_links": {
          "self": {
            "href": "/requests/38d19451-1671-4fe8-8866-c59a08f94abe"
          }
        },
        "request_type": "release",
        "responses": [
          {
            "id": 980190964,
            "code": null,
            "message": "Domain was removed from account"
          }
        ],
        "content": null
      }
    }
  ]
}

Služba pro získání seznamu všech domén.

GET /domains
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "1x.sk",
      "status": "active",
      "expires_on": "2011-08-28",
      "account": {
        "id": "36eb0253-6151-4ea9-a0c2-340d44052667",
        "handle": "META:11"
      },
      "_links": {
        "self": {
          "href": "/domains/1x_sk"
        }
      }
    },
    {
      "name": "kraxnet.cz",
      "status": "active",
      "expires_on": "2011-08-25",
      "account": {
        "id": "36eb0253-6151-4ea9-a0c2-340d44052667",
        "handle": "META:11"
      },
      "_links": {
        "self": {
          "href": "/domains/kraxnet_cz"
        }
      }
    }
  ]
}

Služba pro získání seznamu expirujících domén.

GET /domains/expiring
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "domains": [
    {
      "name": "kraxnet.cz",
      "status": "active",
      "expires_on": "2011-08-25",
      "account": {
        "id": "1f5867b3-c0de-40d7-8eb7-7e4b4923166b",
        "handle": "META:12"
      },
      "_links": {
        "self": {
          "href": "/domains/kraxnet_cz"
        }
      }
    },
    {
      "name": "1x.sk",
      "status": "active",
      "expires_on": "2011-08-28",
      "account": {
        "id": "1f5867b3-c0de-40d7-8eb7-7e4b4923166b",
        "handle": "META:12"
      },
      "_links": {
        "self": {
          "href": "/domains/1x_sk"
        }
      }
    }
  ]
}

--
Contacts
Tato část popisuje práci s kontakty
--

Detail kontaktu

Parametry:

* **id** - handle nebo UUID kontaktu

GET /contacts/{id}
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": null,
      "name_prefix": null,
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": null,
      "identification_number": null,
      "vat_id": null,
      "email": "user@test.cz",
      "phone": "800123456",
      "fax": null,
      "street": [
        "Ulice 123"
      ],
      "city": "Město 5",
      "zip": "12345",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": null,
      "cz_nic_notify_email": null,
      "cz_nic_hide": [],
      "tld_handles": {
        "cz": "TEST"
      },
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      }
    }
  ]
}

Služba pro vytvoření nového kontaktu.

Parametry:

* **handle** - identifikátor kontaktu
* **organization_name** - firma
* **name_prefix** - titul před jménem
* **first_name** - jméno
* **last_name** - příjmení
* **name_suffix** - titul za jménem
* **identification_number** - IČ
* **vat_id** - DIČ
* **email** - e-mail
* **phone** - telefon
* **fax** - fax
* **street** - ulice, číslo popisné
* **city** - město
* **zip** - poštovní směrovací číslo
* **country_code** - kód státu
* **state** - region
* **new_cz_nic_handle** - identifikátor nového kontaktu CZ.NIC
* **cz_nic_notify_email** - e-mail pro oznámení CZ.NIC
* **cz_nic_hide** - skryté údaje v registru CZ.NIC
* **id** - universally unique identifier (UUID)

POST /contacts/register
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": "U testu 5",
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": "",
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ]
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/1be0b73a-21ab-4e8e-8a65-4ef29f45d868
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": [
        "U testu 5"
      ],
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": "291afdc3-424d-4feb-827a-093bac7a2b85",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/291afdc3-424d-4feb-827a-093bac7a2b85"
          }
        },
        "request_type": "register",
        "responses": [],
        "content": {
          "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
          "organization_name": "Test a.s.",
          "name_prefix": "Ing.",
          "first_name": "Jan",
          "last_name": "Novák",
          "name_suffix": "CSc.",
          "identification_number": "12345678",
          "vat_id": "CZ12345678",
          "email": "novak@nic.cz",
          "phone": "+420.800123456",
          "fax": "+420.800778899",
          "street": "U testu 5",
          "city": "Testov 6",
          "zip": "12310",
          "country_code": "CZ",
          "new_cz_nic_handle": "jnovak",
          "cz_nic_notify_email": "jan.novak@nic.cz",
          "cz_nic_hide": [
            "ident",
            "vat",
            "email",
            "phone",
            "fax",
            "notify_email"
          ]
        }
      }
    }
  ]
}

Služba pro změnu kontaktu.

Parametry:

* **handle** - identifikátor kontaktu
* **organization_name** - firma
* **name_prefix** - titul před jménem
* **first_name** - jméno
* **last_name** - příjmení
* **name_suffix** - titul za jménem
* **identification_number** - IČ
* **vat_id** - DIČ
* **email** - e-mail
* **phone** - telefon
* **fax** - fax
* **street** - ulice, číslo popisné
* **city** - město
* **zip** - poštovní směrovací číslo
* **country_code** - kód státu
* **state** - region
* **new_cz_nic_handle** - identifikátor nového kontaktu CZ.NIC
* **cz_nic_notify_email** - e-mail pro oznámení CZ.NIC
* **cz_nic_hide** - skryté údaje v registru CZ.NIC
* **id** - universally unique identifier (UUID)

POST /contacts/update
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": "U testu 5",
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": "",
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ]
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/757ba66e-84f7-4a8c-8d6b-0e627ba3613f
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": "Test a.s.",
      "name_prefix": "Ing.",
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": "CSc.",
      "identification_number": "12345678",
      "vat_id": "CZ12345678",
      "email": "novak@nic.cz",
      "phone": "+420.800123456",
      "fax": "+420.800778899",
      "street": [
        "U testu 5"
      ],
      "city": "Testov 6",
      "zip": "12310",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": "jnovak",
      "cz_nic_notify_email": "jan.novak@nic.cz",
      "cz_nic_hide": [
        "ident",
        "vat",
        "email",
        "phone",
        "fax",
        "notify_email"
      ],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": "e01a02ab-f67a-48a2-a7df-a0fa5ee1bc91",
        "status": "successful",
        "last_response": {
          "id": 980190965,
          "code": null,
          "message": "Contact was updated"
        },
        "_links": {
          "self": {
            "href": "/requests/e01a02ab-f67a-48a2-a7df-a0fa5ee1bc91"
          }
        },
        "request_type": "update",
        "responses": [
          {
            "id": 980190965,
            "code": null,
            "message": "Contact was updated"
          }
        ],
        "content": {
          "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
          "organization_name": "Test a.s.",
          "name_prefix": "Ing.",
          "first_name": "Jan",
          "last_name": "Novák",
          "name_suffix": "CSc.",
          "identification_number": "12345678",
          "vat_id": "CZ12345678",
          "email": "novak@nic.cz",
          "phone": "+420.800123456",
          "fax": "+420.800778899",
          "street": "U testu 5",
          "city": "Testov 6",
          "zip": "12310",
          "country_code": "CZ",
          "new_cz_nic_handle": "jnovak",
          "cz_nic_notify_email": "jan.novak@nic.cz",
          "cz_nic_hide": [
            "ident",
            "vat",
            "email",
            "phone",
            "fax",
            "notify_email"
          ]
        }
      }
    }
  ]
}

Služba pro odebrání kontaktu z účtu.

Parametry:

* **handle** - identifikátor kontaktu
* **id** - universally unique identifier (UUID)

POST /contacts/release
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "contacts": [
    {
      "handle": "META:TEST"
    },
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/58db261d-4573-4205-aa56-43ff5d761491
< Content-Type: application/json; charset=utf-8
{
  "contacts": [
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": null,
      "name_prefix": null,
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": null,
      "identification_number": null,
      "vat_id": null,
      "email": "user@test.cz",
      "phone": "800123456",
      "fax": null,
      "street": [
        "Ulice 123"
      ],
      "city": "Město 5",
      "zip": "12345",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": null,
      "cz_nic_notify_email": null,
      "cz_nic_hide": [],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": "bb6a24f2-fc27-461d-a1cb-775fa250fd88",
        "status": "failed",
        "last_response": {
          "id": 980190966,
          "code": null,
          "message": "Contact can not be removed from account"
        },
        "_links": {
          "self": {
            "href": "/requests/bb6a24f2-fc27-461d-a1cb-775fa250fd88"
          }
        },
        "request_type": "release",
        "responses": [
          {
            "id": 980190966,
            "code": null,
            "message": "Contact can not be removed from account"
          }
        ],
        "content": null
      }
    },
    {
      "id": "4f6e55ef-ba36-4c39-a101-242a0c003611",
      "handle": "META:TEST",
      "organization_name": null,
      "name_prefix": null,
      "first_name": "Jan",
      "last_name": "Novák",
      "name_suffix": null,
      "identification_number": null,
      "vat_id": null,
      "email": "user@test.cz",
      "phone": "800123456",
      "fax": null,
      "street": [
        "Ulice 123"
      ],
      "city": "Město 5",
      "zip": "12345",
      "country_code": "CZ",
      "state": null,
      "new_cz_nic_handle": null,
      "cz_nic_notify_email": null,
      "cz_nic_hide": [],
      "_links": {
        "self": {
          "href": "/contacts/META:TEST"
        }
      },
      "request": {
        "id": "bb6a24f2-fc27-461d-a1cb-775fa250fd88",
        "status": "failed",
        "last_response": {
          "id": 980190966,
          "code": null,
          "message": "Contact can not be removed from account"
        },
        "_links": {
          "self": {
            "href": "/requests/bb6a24f2-fc27-461d-a1cb-775fa250fd88"
          }
        },
        "request_type": "release",
        "responses": [
          {
            "id": 980190966,
            "code": null,
            "message": "Contact can not be removed from account"
          }
        ],
        "content": null
      }
    }
  ]
}

--
Nssets
Tato část popisuje práci s nssety
--

Služba pro ověření dostupnosti nssetu.

Parametry:

* **id** - identifikátor nssetu

POST /nssets/check
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/41f4a839-9f31-406f-b416-270fe1527ea4
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "pending",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": "d64fba37-e9b6-4dce-9b0c-99a5b9d62e9e",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/d64fba37-e9b6-4dce-9b0c-99a5b9d62e9e"
          }
        },
        "request_type": "check",
        "responses": [],
        "content": null
      }
    }
  ]
}

Služba pro vytvoření nového nssetu.

Parametry:

* **id** - identifikátor nssetu
* **nameservers** - výčet nameserverů
* **techs** - identifikátory kontaktů oprávněných ke správě nssetu
* **authorization_key** - autorizační klíč NSSETu
* **report_level** - úroveň kontroly

POST /nssets/register
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET",
      "techs": [
        "TECH1",
        "TECH2"
      ],
      "nameservers": [
        {
          "hostname": "ns.kraxnet.cz",
          "addresses": [
            "1.2.3.4"
          ]
        },
        {
          "hostname": "ns.kraxnet.com",
          "addresses": [
            "5.6.7.8",
            "9.10.11.12"
          ]
        }
      ],
      "authorization_key": "1234abcd",
      "report_level": "7"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/932f2846-1d25-47ba-b9b0-8bea75cdee3a
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "pending",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": "2ee5028a-760f-473a-bd85-37de242e0d8b",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/2ee5028a-760f-473a-bd85-37de242e0d8b"
          }
        },
        "request_type": "register",
        "responses": [],
        "content": {
          "techs": [
            "TECH1",
            "TECH2"
          ],
          "nameservers": [
            {
              "hostname": "ns.kraxnet.cz",
              "addresses": [
                "1.2.3.4"
              ]
            },
            {
              "hostname": "ns.kraxnet.com",
              "addresses": [
                "5.6.7.8",
                "9.10.11.12"
              ]
            }
          ],
          "authorization_key": "1234abcd",
          "report_level": "7"
        }
      }
    }
  ]
}

Služba pro aktualizaci nssetu.

Parametry:

* **id** - identifikátor nssetu
* **nameservers** - výčet nameserverů
* **techs** - identifikátory kontaktů oprávněných ke správě nssetu
* **authorization_key** - autorizační klíč NSSETu
* **report_level** - úroveň kontroly

POST /nssets/update
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET",
      "techs": [
        "TECH1",
        "TECH2"
      ],
      "nameservers": [
        {
          "hostname": "ns.kraxnet.cz",
          "addresses": [
            "1.2.3.4"
          ]
        },
        {
          "hostname": "ns.kraxnet.com",
          "addresses": [
            "5.6.7.8",
            "9.10.11.12"
          ]
        }
      ],
      "authorization_key": "1234abcd",
      "report_level": "7"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/a26ca83e-169b-4189-a062-8cc91f04dbf0
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "active",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": "11b6de61-9e3b-4e4c-949b-85e194b3ecf3",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/11b6de61-9e3b-4e4c-949b-85e194b3ecf3"
          }
        },
        "request_type": "update",
        "responses": [],
        "content": {
          "techs": [
            "TECH1",
            "TECH2"
          ],
          "nameservers": [
            {
              "hostname": "ns.kraxnet.cz",
              "addresses": [
                "1.2.3.4"
              ]
            },
            {
              "hostname": "ns.kraxnet.com",
              "addresses": [
                "5.6.7.8",
                "9.10.11.12"
              ]
            }
          ],
          "authorization_key": "1234abcd",
          "report_level": "7"
        }
      }
    }
  ]
}

Služba pro zrušení nssetu. Pouze pokud není navázán na doménu.

Parametry:

* **id** - identifikátor nssetu

POST /nssets/delete
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "nssets": [
    {
      "id": "NSSET"
    }
  ]
}
< 202
< Location: http://api.1x.sk/orders/9d1404ff-ac6a-4652-ac28-cb5a6106ee06
< Content-Type: application/json; charset=utf-8
{
  "nssets": [
    {
      "name": "NSSET",
      "status": "active",
      "_links": {
        "self": {
          "href": "/nssets/NSSET"
        }
      },
      "request": {
        "id": "e9c0698d-ab7a-4694-96a0-dbb58b5b9cfa",
        "status": "waiting_for_authorization",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/e9c0698d-ab7a-4694-96a0-dbb58b5b9cfa"
          }
        },
        "request_type": "delete",
        "responses": [],
        "content": null
      }
    }
  ]
}

--
Requests
Tato část popisuje práci s odpověďmi na požadavky
--

Služba pro zjištění aktuálního stavu požadavku.

Parametry:

* **id** - identifikátor požadavku

Hodnoty odpovědi:

* **processing** - požadavek je ve zpracování
* **failed** - požadavek nebyl zpracován kvůli chybě
* **registered** - (pouze pro požadavek na registraci domény, kontaktu, nssetu) - objekt úspěšně zaregistrován
* **transferred** - (pouze pro požadavek na transfer domény, kontaktu, nssetu) - objekt úspěšně převeden
* **available** - (pouze pro požadavek na ověření dostupnosti domény, kontaktu, nssetu) - objekt je volný pro novou registraci
* **unavailable** - (pouze pro požadavek na ověření dostupnosti domény, kontaktu, nssetu) - objekt není volný
* **successful** - požadavek byl úspěšně zpracován

GET /requests/{id}/status
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "request": {
    "id": "ad59e206-9365-477e-a88e-af282f185974",
    "status": "successful",
    "last_response": {
      "id": 980190969,
      "code": null,
      "message": "Domain is available"
    },
    "_links": {
      "self": {
        "href": "/requests/ad59e206-9365-477e-a88e-af282f185974"
      }
    }
  }
}

Služba pro získání obsahu odeslaného požadavku.

Parametry:

* **id** - identifikátor požadavku

GET /requests/{id}
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "request": {
    "id": "e95d3809-4f60-430d-bd0a-1d377121b828",
    "status": "successful",
    "last_response": {
      "id": 980190970,
      "code": null,
      "message": "Domain is available"
    },
    "_links": {
      "self": {
        "href": "/requests/e95d3809-4f60-430d-bd0a-1d377121b828"
      }
    },
    "object_type": "domain",
    "request_type": "check",
    "registry_object_name": "domena.cz",
    "responses": [
      {
        "id": 980190970,
        "code": null,
        "message": "Domain is available"
      }
    ],
    "content": null
  }
}

--
Account
Tato část popisuje práci se subregistrátorským účtem
--

Zjištění aktuálního stavu kreditu.

GET /account/balance
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
< 200
< Content-Type: application/json; charset=utf-8
{
  "balance": {
    "currency": "CZK",
    "amount": 0.0
  }
}

--
Order
Tato část popisuje zadávání objednávek s více požadavky
--

Služba pro zadání objednávky s více požadavky naráz.

Základní parametry jednotlivých požadavků:

* **request_type** - typ požadavku
* **object_type** - typ objektu, kterého se požadavek týká
* **name** - název objektu, které se požadavek týká (pouze pro domény)
* **id** - identifikátor objektu, kterého se požadavek týká (pro ostatní objekty)

Další parametry jsou shodné jako u příslušného typu requestu - viz výše.

Povolené hodnoty **object_type**:

* domain
* contact
* nsset
* keyset

Povolené hodnoty **request_type**:

* check
* register
* update
* authinfo
* transfer

Pro domény navíc:

* renew
* change_dns
* registrant_change

Pro ostatní objekty navíc:

* delete

POST /orders
> Content-Type: application/json
> Accept: application/vnd.1x.common_v1+json
{
  "requests": [
    {
      "request_type": "check",
      "object_type": "domain",
      "name": "domena.cz"
    },
    {
      "request_type": "check",
      "object_type": "domain",
      "name": "domena2.cz"
    }
  ]
}
< 202
< Content-Type: application/json; charset=utf-8
{
  "order": {
    "id": "feea81e2-588d-48ac-9f19-7c36d480b64c",
    "created_at": "2014-10-30T17:06:44+01:00",
    "requests": [
      {
        "id": "931b6825-e7c1-4da2-b1a4-2330b9910ed0",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/931b6825-e7c1-4da2-b1a4-2330b9910ed0"
          }
        },
        "object_type": "domain",
        "request_type": "check",
        "registry_object_name": "domena.cz",
        "responses": [],
        "content": null
      },
      {
        "id": "68d6763a-d020-4b2d-9c95-c36360174562",
        "status": "processing",
        "last_response": null,
        "_links": {
          "self": {
            "href": "/requests/68d6763a-d020-4b2d-9c95-c36360174562"
          }
        },
        "object_type": "domain",
        "request_type": "check",
        "registry_object_name": "domena2.cz",
        "responses": [],
        "content": null
      }
    ],
    "_links": {
      "self": {
        "href": "/orders/feea81e2-588d-48ac-9f19-7c36d480b64c"
      }
    }
  }
}
